* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    height: 30px;
    border: lightpink solid 3px;
    border-radius: 10px;
}

button {
    width: 80px;
    margin: 20px;
    font-size: large;
    border-radius: 20px;
    border: lightpink solid 3px;
}
h1 {
    text-align: center;
    margin: 30px;
}

#container {
    padding: 20px;
}

img {
    height: 300px;
    width: 100%;
    margin-right: 15px;
    padding: 10px;
}

#form {
    margin: 20px;
}

#image {
    border: blue solid 3px;
    margin-right: 40px;
    padding: 10px;
    margin-bottom: 15px;
}
#grid {
    display: grid;
    margin: 20px;
    grid-template-columns: 30% 30% 30%;
}

.component {
    background-color: gray;
    position: fixed;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 30px;
}

#comment {
    top: 100px;
    position: relative;
    display: inline-block;
}
#formcom {
    position: relative;
    top: 100px;
}

.component img {
    width: 300px;
    top: 20px;
    left: 30px;
    position: relative;
}

#title {
    margin-top: 20px;
    margin-left: 20px;
}

#desc {
    margin-top: 20px;
    margin-left: 20px;
}

#user {
    margin-left: 20px;
}

.component h1 {
    position: fixed;
    right: 10px;
    top: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    * {
        box-sizing: border-box;
    }
    #grid {
        display: block;
        box-sizing: border-box;
    }

    img {
        width: 230px;
        height: 200px;
        margin-bottom: 5px;
    }

    #grid {
        margin: 0;
    }

    h1 {
        text-align: left;
    }
}

#main {
    margin: 20px;
}
